distprod/
disttest/
instrumented-classes/
out/
release/
javadoc/
reports/
coverage/
cobertura.ser
*.log
.idea/*.*
persism.iml
target/

/libs/hsqldb/pinf.script
/libs/hsqldb/pinf.properties
/libs/hsqldb/pinf.lck
