distprod/
disttest/
instrumented-classes/
out/
release/
javadoc/
reports/
coverage/
cobertura.ser
*.log
.idea/*.*
Persism.iml

/libs/hsqldb/pinf.script
/libs/hsqldb/pinf.properties
/libs/hsqldb/pinf.lck
/.idea/
/target/
