<component name="libraryTable">
  <library name="logback">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-access-1.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-classic-1.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-core-1.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/slf4j-api-1.6.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-access-1.0.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-classic-1.0.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/logback-1.0.1/logback-core-1.0.1-sources.jar!/" />
    </SOURCES>
  </library>
</component>